odoo_test_helper

odoo-addon-queue_job @ git+https://github.com/oca/queue.git@refs/pull/692/head#subdirectory=queue_job
odoo-addon-component @ git+https://github.com/oca/connector.git@refs/pull/492/head#subdirectory=component
odoo-addon-component_event @ git+https://github.com/oca/connector.git@refs/pull/493/head#subdirectory=component_event
odoo-addon-connector @ git+https://github.com/oca/connector.git@refs/pull/494/head#subdirectory=connector
